.position{
    position:absolute;
    top:52%;
    left: 59.7%;
    transform: translate(-2.5%,-8.5%);
    
}
.slider{
    background-image: url(diploma.jpeg);
    background-size: cover;
    height: 72.5%;
    width: 40%;
    animation: animate 20s infinite;
}
@keyframes animate{
    50%{
        background-image: url(diploma.jpeg);
        background-size: cover
    }
    50%{
        background-image: url(instrumentos.png);
        background-size: cover
    } 

}
